<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.b7.rtphysics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rtphysics_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/RTPhysicsTheme">
        <activity
            android:name=".Handbook.HandbookMenuActivity"
            android:label="@string/handbook_name"
            android:launchMode="singleTop"
            android:theme="@style/RTPhysicsTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Handbook.HandbookTabMainActivity"
            android:label="Статья"
            android:parentActivityName=".Handbook.HandbookMenuActivity"
            android:theme="@style/RTPhysicsTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Handbook.HandbookMenuActivity" />
        </activity>
        <activity
            android:name=".Calculator.CalculatorMainActivity"
            android:label="@string/calculator_name"
            android:parentActivityName=".Handbook.HandbookMenuActivity"
            android:theme="@style/RTPhysicsTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Handbook.HandbookMenuActivity" />
        </activity>
        <activity
            android:name=".Calculator.CalculatorPreferences"
            android:label="Настройки"
            android:parentActivityName=".Calculator.CalculatorMainActivity"
            android:theme="@style/RTPhysicsTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Calculator.CalculatorMainActivity" />
        </activity>
        <activity
            android:name=".SearchMainActivity"
            android:label="@string/search_name"
            android:parentActivityName=".Handbook.HandbookMenuActivity"
            android:theme="@style/RTPhysicsTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Handbook.HandbookMenuActivity" />
        </activity>
        <activity
            android:name=".Calculator.FCalculator.FCalculatorMainActivity"
            android:label="@string/title_activity_fcalculator_main"
            android:parentActivityName=".Handbook.HandbookTabMainActivity"
            android:theme="@style/RTPhysicsTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.b7.rtphysics.Handbook.HandbookTabMainActivity" />
        </activity>
    </application>

</manifest>
